/* main background color */
section.main.st-emotion-cache-uf99v8.ea3mdgi8{
	background-color: #fffffff3;
}

/* plot color */
svg.main-svg{
    background-color: #eddfc321;
}

/* slider main */
div.st-emotion-cache-6qob1r.eczjsme3{
    background-color: #1a16131a;
}